:root{
    --secondary: #9dbdc6;
}


header{
    justify-content: space-around;
    display: flex;
    background-color: var(--secondary);
}

header h1 {
    justify-content: space-around;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;

}
.card{
    max-width: 20rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}